/* Navbar */
.navbar-brand {
    font-family: viga;
    font-size: 32px;
}

.navbar{
    background-color: #F6F5FA;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

h2 {
    font-family: viga;
    padding: 15px 20px;
}


/* jumbotron */
.jumbotron {
    background-image: url(jumbroton.png);
    background-size: cover;
    height: 500px;
    text-align: center;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 150px;
    font-weight: 200;
    font-size: 45px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.jumbotron .display-4 span {
    font-weight: 500;
}

.containerkiri { 
    width: 650px;
    height: auto;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.kanan {
    height: 150px;
    width: 350px;
    margin-left: 30px;
}

    .navbar-brand, .nav-link {
        /* color: white !important; */
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    }
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .navbar-nav {
        margin-left: auto;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid blue;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: -75px;
    }
    
    .jumbotron .display-4 {
        font-size: 62px;
    }

    .btn{
        text-decoration: none;
        float: right;
    }